/* CONFIGURAÇÕES INICIAIS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
    background-color: #f7f9fc;
    color: #222;
}
/* CONFIGURAÇÕES INICIAIS */

/* HEADER */
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: linear-gradient(to right, #011e41, #003366);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
    padding: 1rem 2rem;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 7rem;
    margin-left: 1rem;
    filter: invert(1);
}

.navegacao {
    display: flex;
    gap: 3rem;
    list-style: none;
    font-size: 2rem;
    margin-right: 2rem;
}

.navegacao a {
    text-decoration: none;
    color: white;
    transition: all 0.3s ease-in-out;
    position: relative;
}

.navegacao a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0%;
    height: 2px;
    transition: width 0.3s;
}

.navegacao a:hover::after {
    width: 100%;
}

.navegacao a:hover {
    color: yellow;
}
/* HEADER */

/* CARROSSEL */
.carrossel {
    width: 100%;
    overflow: hidden;
    padding: 2rem 0;
    margin-top: 9rem; 
    height: 6rem; 
    display: flex;
    align-items: center;
}

.carrossel-wrapper {
    display: flex;
    animation: deslizar 20s infinite linear;
    gap: 6rem;
    align-items: center;
    padding: 1rem 0;
    width: max-content;
}

.carrossel-item {
    flex: 0 0 auto;
    padding: 1rem 2rem;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 6rem;
    min-width: 15rem;
}

.carrossel-item img {
    max-height: 3rem;
    width: auto;
    display: block;
    transition: all 0.3s ease;
}


@keyframes deslizar {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}
/* CARROSSEL */
