/* CONFIGURAÇÕES INICIAIS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
    background-color: #f7f9fc;
    color: #222;
}
/* CONFIGURAÇÕES INICIAIS */

/* HEADER */
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: linear-gradient(to right, #011e41, #003366);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
    padding: 1rem 2rem;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 7rem;
    margin-left: 1rem;
    filter: invert(1);
}

.navegacao {
    display: flex;
    gap: 3rem;
    list-style: none;
    font-size: 2rem;
    margin-right: 2rem;
}

.navegacao a {
    text-decoration: none;
    color: white;
    transition: all 0.3s ease-in-out;
    position: relative;
}

.navegacao a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0%;
    height: 2px;
    transition: width 0.3s;
}

.navegacao a:hover::after {
    width: 100%;
}

.navegacao a:hover {
    color: yellow;
}
/* HEADER */
